@font-face {
  font-family: "MapleBold";
  src: url("Maplestory_OTF_Bold.otf") format("opentype");
  font-display: "optional";
}

@font-face {
  font-family: "MapleLight";
  src: url("Maplestory_OTF_Light.otf") format("opentype");
  font-display: "optional";
}
