.utterances {
  max-width: 95% !important;
  margin:50px auto !important;
}
.content-wrap{

  padding:40px 0;
  min-height:100vh;
}

.toastui-editor-main{
  background-color: #fff;
}

/* 
.wmde-markdown ol, .wmde-markdown ul{
  list-style-type:i
} */

@keyframes fadeInOut {
  0% {
    border-color: rgba(255,255,255,0.3);
    
  }
  50%{
    border-color: rgba(255,255,255,0.7);


  }
  100% {
    border-color: rgba(255,255,255,0.3);
  


  }
}
